<!--<h1 [ngClass]='{"bg-success": "isSuccess", "text-white": "isSuccess"}' >hello ngClass directive</h1>-->
<!--<h1 [ngClass]='classArray'>ngClassDirective</h1>-->  

<!--<h1 [ngStyle]="{'padding' : isSuccess? '60px' : '0px', 'background': isSuccess? 'green' : 'red'}">ngStyleDirectives</h1>-->
  
  <p appMyDirective > Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam quasi optio, nihil praesentium, eos cum nemo iusto molestias iste et eligendi labore voluptate? Nam maxime vitae assumenda, sit magni unde! </p>