form{
font-family: cursive;
border : 1px solid blue;
width : 300px;
height: 300px;
text-align: center;
border-radius:25px;
background-image: url("./images/Rotating_earth_\(large\).gif");
box-shadow: 0px 0px 100px  blue;


}
body{
    margin-left: 550px;
    margin-top: 200px;
    background-image: url("./images/great-2339957__340.jpg");
    background-size: cover;
    color:white;
    
}
input[type="text"], input[type="password"]{
    width: 250px;
    height: 30px;
    border:1px solod black;
    border-radius: 50px;
    text-align: center;
    
    
}
button{
    margin-top: 50px;
    width:150px;
    height: 30px;
    border-radius: 40px;
    background-color: blueviolet;
}
input[type="text"]:focus, input[type="password"]:focus{
    outline:none;
    

}
button:hover{
    background-color: green;
    outline:none;
    cursor:pointer;
    box-shadow: 0px 0px 30px green;
}
