<div class="container "  style="background-color: cornsilk">
        
    <table class=" table table-bordered  table-hover text-center">
    
    
        <thead class="text-center" style="background-color: coral">
            <th>Name</th>
            <th>Email</th>
        </thead>
        <tbody  >
            <td>Ankita</td>
            <td>ankita@gmail.com</td>
        </tbody>
        <tbody>
                <td>Aishwarya</td>
                <td>aishwarya@gmail.com</td>
            </tbody>
            <tbody>
                    <td>Prateek</td>
                    <td>Prateek@gmail.com</td>
                </tbody>
                <tbody>
                        <td>Neha</td>
                        <td>neha@gmail.com</td>
                    </tbody>

    </table>

</div>
